<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.algorithm_bj">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_fixed_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_fixed_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlgorithmBJ">
        <activity
            android:name=".more_details"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="submainpage.listActivity" />
        <activity android:name="submainpage.stackActivity" />
        <activity android:name="submainpage.queueActivity" />
        <activity android:name="submainpage.treeActivity" />
        <activity android:name="submainpage.sortActivity" />
        <activity android:name="submainpage.searchActivity" />
        <activity android:name="submainpage.heapActivity" />
        <activity android:name="submainpage.hashActivity" />
        <activity android:name="submainpage.graphActivity" />
        <activity android:name="submainpage.stringsearchActivity" />
        <activity android:name="explainpage.list.linkedlist" />
        <activity android:name="explainpage.list.doublelinkedlist" />
        <activity android:name="explainpage.list.circularlinkedlist"/>
        <activity android:name="stack.pushpopstack"/>
        <activity android:name="explainpage.queue.endequeue" />
        <activity android:name="explainpage.queue.circularqueue" />
        <activity android:name="explainpage.tree.tree" />
        <activity android:name="explainpage.tree.expressiontree" />
        <activity android:name="explainpage.sort.bubblesort" />
        <activity android:name="explainpage.sort.insertionsort" />
        <activity android:name="explainpage.sort.quicksort" />
        <activity android:name="explainpage.search.sequentialsearch" />
        <activity android:name="explainpage.search.binarysearch" />
        <activity android:name="explainpage.search.redblacktree" />
        <activity android:name="explainpage.priortiy.priortiyqueue" />
        <activity android:name="explainpage.priortiy.heap" />
        <activity android:name="explainpage.hash.hashtable" />
        <activity android:name="explainpage.hash.hashfunction" />
        <activity android:name="explainpage.hash.collision" />
        <activity android:name="explainpage.graph.graph" />
        <activity android:name="explainpage.graph.topologicalsort" />
        <activity android:name="explainpage.graph.mst" />
        <activity android:name="explainpage.graph.dijkstra" />
        <activity android:name="explainpage.string.karprabin" />
        <activity android:name="explainpage.string.kmp" />
        <activity android:name="explainpage.string.boyermoore" />
        <activity android:name="explainpage.string.brute" />
        <activity
            android:name="pseudocode.pseudocode_1_1linkedlist"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="pseudocode.pseudocode_1_2_doublelinkedlist"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="pseudocode.pseudocode_1_3_circularlinkedlist"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="pseudocode.pseudocode_2_stack"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="pseudocode.pseudocode_3_1_endequeue"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="pseudocode.pseudocode_4_tree"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="pseudocode.pseudocode_4_2_expressiontree"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="pseudocode.pseudocode_5_1_bubblesort"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="pseudocode.pseudocode_5_2_insertionsort"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="pseudocode.pseudocode_5_3_quicksort"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="pseudocode.pseudocode_6_1_sequentialsearch"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="pseudocode.pseudocode_6_2_binarysearch"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="pseudocode.pseudocode_6_3_redblacktree"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="pseudocode.pseudocode_7_1_priorityqueue"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="pseudocode.pseudocode_7_2_heap"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="pseudocode.pseudocode_8_1_hashtable"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="pseudocode.pseudocode_8_2_hashfunction"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="pseudocode.pseudocode_8_3_collision"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="pseudocode.pseudocode_9_1_graph"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="pseudocode.pseudocode_9_2_topologicalsort"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="pseudocode.pseudocode_9_3_mst"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="pseudocode.pseudocode_9_4_dijkstra"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="pseudocode.pseudocode_10_1_karprabin"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="pseudocode.pseudocode_10_2_kmo"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="pseudocode.pseudocode_10_3_boyermoore"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="pseudocode.pseudocode_10_4_boringsearch"
            android:theme="@android:style/Theme.Dialog" />
    </application>

</manifest>